<div class="test1">{{data-test-component data-test-first="foobar"}}</div>

<div class="test2">{{#data-test-component data-test-first="foobar"}}hello{{/data-test-component}}</div>

<div class="test3">{{data-test-component data-test-first="foobar" data-test-second="second"}}</div>

<div class="test4">{{data-test-component data-test-first="foobar" data-non-test="baz"}}</div>

<div class="test5">{{data-test-component data-test="foo"}}</div>

<div class="test6">{{data-test-component data-non-test="foo"}}</div>
